

.fa-num-1:before {content: "1"; font-family: "Arial";}
.fa-num-2:before {content: "1"; font-family: "Arial";}
.fa-num-3:before {content: "1"; font-family: "Arial";}
.fa-num-4:before {content: "1"; font-family: "Arial";}
.fa-num-5:before {content: "1"; font-family: "Arial";}
.fa-num-6:before {content: "1"; font-family: "Arial";}
.fa-num-7:before {content: "1"; font-family: "Arial";}
.fa-num-8:before {content: "1"; font-family: "Arial";}
.fa-num-9:before {content: "1"; font-family: "Arial";}
.fa-num-0:before {content: "1"; font-family: "Arial";}
.fa-remote-menu:before {content: "menu"; font-family: "Arial";}
.fa-remote-exit:before {content: "exit"; font-family: "Arial";}

