{{ template "header" }}
    <script>

        Mustache.tags = ["||","||"];

        function handleStatus(text,ele){


                data = $.parseJSON(text);


                var response = "";

                jQuery.each(data.payload.Equipments,function(index,value){



                    response =response+renderTemplate(value,"commandRowTemplate");


                });

                if(response.length>0){

                    return response;
                }

                return '<td colspan="5">\n' +
                    '        No Equipment, add above\n' +
                    '    </td>';



        }


    </script>
    <script id="commandRowTemplate" type="x-tmpl-mustache">
                      <tr>
                      <td>||Id||</td>
                      <td>||Label||</td>
                      <td>||Manufacturer||</td>
                      <td>||Model||</td>
                      <td>


                       <a onclick="return confirm('Are you sure you want to remove?');" title="This will force remove, but if the device is automatically detected it will be added back"  class="btn btn-danger float-right"  hx-post="equipmentremove/||Id||" hx-target="#devices" hx-swap="none" href="/equipmentremove/||Id||"><i class="fas fa-exclamation-triangle" > </i> Remove</a>

                       <a class="ml-2 mr-2 btn btn-primary float-right" href="/equipment/||Id||"><i class="fas fa-edit" > </i> Edit</a>
                       </td>
                     </tr>
    </script>
        <main>
            <div class="container-fluid">
                <h1 class="mt-4"><i class="fas fa-server" ></i> Equipment</h1>


                <div class="row mt-4" >
                    <div class="col-xl-12">
                        <div class="card mb-4">
                            <div class="card-header">

                                    Add your components here (Receiver,DVR,TV etc)

                                <a class="float-right btn btn-success" href="/equipment/new" ><i class="fas fa-plus-square" ></i> Add Equipment</a>

                            </div>
                            <div class="card-body p-0">
                                <div class="table-responsive">
                                    <table class="table table-striped" id="dataTable" width="100%" cellspacing="0">
                                        <thead class="thead-dark">
                                        <tr>
                                            <th>ID</th>
                                            <th>Label</th>
                                            <th>Manufacturer</th>
                                            <th>Model</th>
                                            <th></th>
                                        </tr>
                                        </thead>
                                        <tbody id="devices" data-callback="handleStatus" hx-get="/equipments" hx-trigger="load delay:100ms, every 5s">
                                        <tr>
    <td colspan="5">
        No Equipment, add above
    </td>
</tr>
                                        </tbody>
                                    </table>

                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </main>
{{ template "footer" }}